<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395221273356-cpq609vkapu0bu0ipb583ufa704dag3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395221273356-cpq609vkapu0bu0ipb583ufa704dag3i</string>
	<key>API_KEY</key>
	<string>AIzaSyBwHjI0T9GM1bdOGqBfPHqnVLFIO_KmWbo</string>
	<key>GCM_SENDER_ID</key>
	<string>395221273356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.papb</string>
	<key>PROJECT_ID</key>
	<string>papb-cfc91</string>
	<key>STORAGE_BUCKET</key>
	<string>papb-cfc91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395221273356:ios:18f5199ceb5d814acb5729</string>
</dict>
</plist>